.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.roles-wrapper {
  .ag-center-header .ag-header-cell-label { justify-content: center; }
  .text-center { text-align: center; }
}

h5, h6 { font-weight: 600; }
